<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Change Password</title>

  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 550px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
    }

    .form-group input {
      width: 100%;
      padding: 5px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
    }

    .form-group #email {
      outline: none;
      border: none;
      font-size: medium;
      margin-top: -10px;
      color: rgb(128, 128, 128);
    }

    .form-group button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .spin {
      animation: spin 2s linear infinite;
    }
  </style>

</head>

<body>
  <br><br>
  <div class="container">

    <form id="otpForm" method="post">
      <div class="form-group">
        <label for="e-mail" style="display: flex;"> Verify account
          <span>
            <input type="text" id="email" name="email" value="<%- email %>" readonly>
          </span>
        </label>
        <input type="text" id="otp" name="otp" placeholder="OTP for <%- email %>" maxlength="6">
      </div>
      <div class="form-group"><br>
        <button type="submit" id="verify_btn" style="width: 150px; padding: 17px;"> Verify OTP </button>
      </div>
    </form>

    <a href="/resendotp_forgot" id="resend" style="float: right; margin-top: -30px; text-decoration: none;"> Resend
      OTP</a>
    <br>
    <div id="msg" style="text-align: center; color: rgb(240, 61, 61);"> </div>
  </div>

  <script>
    function resendOTP(data) {

    $('#resend').html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat spin" viewBox="0 0 16 16">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
  </svg>`);

      $.ajax({
        url: "/resendotp_forgot",
        type: "GET",
        data: data,
        success: function (response) {
          if (response.success === true) {
            // alert(`OTP Sent to ${'<%- email %>'}`);
            $('#resend').html("OTP Sent")
            function text() {
              $('#resend').html("Resend OTP")
            }
            setTimeout(text, 3000)
          }
          else {
            $('#resend').html("Failed! Retry")
          }
        },
        error: function (error) {
          console.error("Error :", error);
        }
      });
    }

    $(document).ready(function () {

      $("#resend").click(function (event) {
        $('#resend').html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat spin" viewBox="0 0 16 16">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
</svg>`);
        event.preventDefault();

        const email = `<%- email %>`;

        const data = {
          email: email
        };

        resendOTP(data);
      });
    });
  </script>

  <script>
    const otp = document.getElementById('otp');
    const msg = document.getElementById('msg');

    function check_OTP(data) {
      $.ajax({
        url: "/verifyOTP_forgot",
        type: "POST",
        data: data,
        success: function (response) {
          if (response.otp_error) {
            $('#verify_btn').html(`Verify OTP`);
            msg.textContent = response.otp_error;
            otp.style.border = 'none'; otp.style.boxShadow = '0 0 5px red';
            return;
          }

          $('#verify_btn').html(`Verified`);
          otp.style.border = ''; otp.style.boxShadow = '0 0 5px green'; msg.textContent = '';
          window.open('/forgot_changePassword?email=' + encodeURIComponent('<%- email %>'), '_self');
        },
        error: function (error) {
          console.error("Error:", error);
        }
      });
    }
    $(document).ready(function () {
      $("#verify_btn").click(function (event) {
        $('#verify_btn').html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat spin" viewBox="0 0 16 16">
  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
</svg>`);

        event.preventDefault();

        const _otp = otp.value;
        const data = {
          otp: _otp,
          email: '<%- email %>'
        };

        check_OTP(data);
      });
    });

  </script>

</body>

</html>